.header-title__h2 {
  color: #cbf281;

  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Inter';
}
.hero-content-container {
  /* border: #ffffff solid 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px; */
  display: flex;
  flex-direction: row;
  align-items: center;

  /* gap: 5rem; */
  width: 100%;

  /* background-color: rgb(71, 49, 211); */
}

.hero-content___left {
  /* hero-left */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  /* gap: 2rem; */

  /* Inside auto layout */

  /* flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0; */
}

.hero-content___left h1 {
  /* I am a Frontend Developer... */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 110%;
  /* or 59px */

  color: #cbf281;

  /* Inside auto layout */

  /* flex: none;
  order: 0;
  /* align-self: stretch; */
  /* flex-grow: 0; */
}

.hero-content___left p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;

  /* Inside auto layout */

  /* flex: none;
  order: 1;
  flex-grow: 0; */
}

.hero-content__right {
  /* hero-right */

  min-width: 350px;
  min-height: 375.89px;

  background: url(../assets/foto.svg);
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 11.55),
    0px 18px 88px -4px rgba(24, 39, 75, 0.15);
  border-radius: 18px;
  background-size: cover;

  /* flex: none;
  order: 1;
  flex-grow: 0; */
}
